fastapi~=0.103.2
pgml~=0.9.3
python-dotenv~=1.0.0
pydantic<2
python-multipart~=0.0.6
ctransformers>=0.2.24
FlagEmbedding~=1.1.2
Markdown~=3.5
beautifulsoup4~=4.12.2
uvicorn~=0.23.2
protobuf~=4.24.4

numpy~=1.26.1
pypdf~=3.17.1